body {
    background-color: black;
    display:flex;
    flex-direction:column;
    min-height:100vh;
    margin:0;
  
}
h1 {
    text-align:center;
    color:white;
}



h2 {
    display:flex;
    flex-wrap:wrap;
    color:white;

}

 ul {
    text-decoration:none;
    list-style: none;
    text-align:right;
    font-size:25px;
    color:white;
    display: flex;
    justify-content: flex-end ;
    padding-right:  40px;
    gap:30px;
 
}

a {
    color:white;
    text-decoration: none;
}
header {
    display:flex;
    background-color: transparent;
    opacity:60%;
    padding:20px 40px;
    width:100%;
    box-sizing:border-box;

}
 .main-text {
    z-index: 2;
    color:black;
    top:0;
    left:0;
 }
.main {
    position:relative;
    margin:auto;
    justify-content: center;
    overflow: hidden;   
    width: 100vw; 
    max-width: none; 
    height: 100vh;
    max-height: 100vh;
    margin-top:0;
    z-index: 100;
}

.main-img {
   width: 100%; 
    height: auto; 
    object-fit: cover;
    z-index: 1;
}