body {
    background-color: black;
    display:flex;
    flex-direction:column;
    min-height:100vh;
    margin:0; 

  
}
h1 {
    text-align:center;
    color:white;
}



h2 {
    display:flex;
    flex-wrap:wrap;
    color:white;

}
header {
    background-color: rgba(0, 0, 0, 0.6);
    position:fixed;
    width:100%;
    padding:20px 40px;
    box-sizing:border-box;
    transition: transform 0.3s ease-in-out; 
    z-index: 1000;

}

.navbar {
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
}
.nav-logo {
    width: 40px;
    height:auto;
    object-fit:contain;

}

.nav-hidden {
    transform: translateY(-100%);
}
 ul {
    text-decoration:none;
    list-style: none;   
    font-size:25px;
    color:white;
    display: flex;
    gap:30px;
 
}

.nav-text-1 {
    margin-left: 350px;
    margin-right:0px;
}
 
.nav-text-2 {
    margin-right:350px;
    margin-left:0px;
}

a {
    color:white;
    text-decoration: none;
}

 .main-text {
    z-index: 2;
    color:black;
    top:0;
    left:0;
 }
.main {
    position:relative;
    margin:auto;
    justify-content: center;
    overflow: hidden;   
    width: 100vw; 
    max-width: none; 
    height: 100vh;
    max-height: 100vh;
    margin-top:0;
    z-index: 100;
}

.main-img {
   width: 100%; 
    height: auto; 
    object-fit: cover;
    z-index: 1;
}