body {
    display:flex;
    flex-direction:column;
    min-height:100vh;
    margin:0;  
    overflow-x: hidden;
}

h1 {
    text-align:center;
    color:white;
}

h2 {
    display:flex;
    flex-wrap:wrap;
    color:white;
}

header {
    background-color: rgba(0, 0, 0, 0.3);
    position:fixed;
    width:100%;
    padding:10px 40px;
    box-sizing:border-box;
    transition: transform 0.3s ease-in-out; 
    z-index: 1000;
}

.navbar {
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    
}

.nav-logo {
    width: 70px;
    position:absolute;
    padding-bottom:60px;
    left:50%;
    height:auto;
    object-fit:contain;  
   transform: translateX(-50%);

}

.nav-hidden {
    transform: translateY(-100%);
}

 ul {
    text-decoration:none;
    list-style: none;   
    font-size:25px;
    color:white;
    display: flex;
    gap:40px;
 
}

.nav-text-left, 
.nav-text-right {
    display:flex;
    gap: 50px;

}

.nav-text-left {
   
    margin-right:auto;
}

.nav-text-right {
   
    margin-left:auto;
}

a {
    color:white;
    text-decoration: none;
}

.main-content-1 {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow:hidden;   
    margin-top:40px;
    z-index:100;
    border-bottom: 10px solid rgb(155, 155, 155);
    border-top:10px solid  rgb(155, 155, 155);
    margin-top:1000px;
    
}

.main-img-1 {
    width: 100%;
    max-width:2000px;
    height:100%   ;
    max-height:auto;
    object-fit: cover;  
    z-index:1;
    background-color: rgb(202, 202, 202) ;
 
}
.main-text-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
   
}

.main-text-1 h1 {
     font-family: 'Montserrat', sans-serif;
    font-weight: 900;   
    position:absolute;
    font-size:70px;
    color:rgb(255, 0, 0);
    top: 00%;
    right: 20%;
    
}

.main-text-1 p {
    position:absolute;
    font-size: 60px;
    color:rgb(255, 235, 235);
    bottom:0;
    right: 50%; 
    transform: translateY(-50%);

    
}

.t1 {
    color:rgb(255, 0, 0) !important;
}
.main-text-2 {
    z-index: 2;
    font-size:100px;
    background-color: black;
    

}

.main-content-3 {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow:hidden;    
    background-color: gray;
 }

.main-img-3 {
    width: 100%;
    height:100%   ;
    max-height: max-;
    object-fit: contain;
    z-index:1;
 
}

.main-text-3 {
    position: absolute;
    display:flex;
    flex-direction: row;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
    z-index: 2;
   
    margin: 0;
    
}

.main-text-3 h1 {
    color:black;
    font-family: 'Montserrat', sans-serif;
}

.mt-31 {

font-size:70px;
display:block;

}

.mt-32 {
    font-size:60px;
    display:block;
}

p {
    font-size: 100px;
    text-align: center;
}

h3 {
    display:block;
    font-size:100px;
    text-align:center;
    padding-top:50px;
}

#main {
    display:relative;
    text-align:center;
    padding-top:40px;
    padding-bottom:40px;
    background-color: black;
    border-top:2px solid gray;
    top:0;
    left:0;
    
}
#main  h1 {
    color:white;
    font-size:30px;
    display: block;
 
}

#footer {
    display:relative;
    padding-left:20px;
    padding-top:20px;
}

.footer-logo {
    position: absolute;
    width: 76px;
    top:0;
    left:0;   
}