body {
    background-color: black;
    display:flex;
    flex-direction:column;
    min-height:100vh;
    margin:0;  
}
h1 {
    text-align:center;
    color:white;
}
h2 {
    display:flex;
    flex-wrap:wrap;
    color:white;
}
header {
    background-color: rgba(0, 0, 0, 0.3);
    position:fixed;
    width:100%;
    padding:10px 40px;
    box-sizing:border-box;
    transition: transform 0.3s ease-in-out; 
    z-index: 1000;
}
.navbar {
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    
}
.nav-logo {
    width: 50px;
    position:absolute;
    padding-bottom:60px;
    left:50%;
    height:auto;
    object-fit:contain;  
   transform: translateX(-50%);

}
.nav-hidden {
    transform: translateY(-100%);
}
 ul {
    text-decoration:none;
    list-style: none;   
    font-size:25px;
    color:white;
    display: flex;
    gap:40px;
 
}
.nav-text-left, 
.nav-text-right {
    display:flex;
    gap: 50px;

}

.nav-text-left {
   
    margin-right:auto;
}
.nav-text-right {
   
    margin-left:auto;
}
a {
    color:white;
    text-decoration: none;
}
.main-content-1 {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow:hidden;    
}
.main-img-1 {
    width: 100%;
    height:auto   ;
    object-fit: contain;
    z-index:1;
 
}
.main-content-3 {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow:hidden;    
 }

.main-img-3 {
    width: 100%;
    height:auto   ;
    object-fit: contain;
    z-index:1;
 
}

.main-text-3 {
    position: absolute;
    display:flex;
    flex-direction: row;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
    z-index: 2;
   
    margin: 0;
    
}

.main-text-3 h1 {
    color:black;
    font-family: 'Montserrat', sans-serif;
}

.mt-1 {

font-size:70px;
display:block;

}

.mt-2 {
    font-size:60px;
    display:block;
}

.about-content {


}

.about-text {


}

.about-text h1 {


}