body {
    background-color: black;
    display:flex;
    flex-direction:column;
    min-height:100vh;
    margin:0;  
}
h1 {
    text-align:center;
    color:white;
}
h2 {
    display:flex;
    flex-wrap:wrap;
    color:white;
}
header {
    background-color: rgba(0, 0, 0, 0.6);
    position:fixed;
    width:100%;
    padding:10px 40px;
    box-sizing:border-box;
    transition: transform 0.3s ease-in-out; 
    z-index: 1000;
}
.navbar {
    display:flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    border-width:20px;
}
.nav-logo {
    width: 40px;
    height:auto;
    object-fit:contain;

}
.nav-hidden {
    transform: translateY(-100%);
}
 ul {
    text-decoration:none;
    list-style: none;   
    font-size:25px;
    color:white;
    display: flex;
    gap:40px;
 
}
.nav-text-1 {
    margin-left: 350px;
    margin-right:0px;
}
.nav-text-2 {
    margin-right:350px;
    margin-left:0px;
}
a {
    color:white;
    text-decoration: none;
}
 .main-content {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.main-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index:1;
}

.main-text {
    position: absolute;
    display:flex;
    flex-direction: row;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
    z-index: 2;
    font-size: 40px;
    margin: 0;
    
}

.main-text h1 {
    color:black;
    font-family: "Playfair Display",serif;
}

.mt-1 {



}

.mt-2 {
    
}